body {
    font-family: "Open Sans";
    border: 2px solid #5081aa;
    background-color: #F0F0F0;
    -webkit-user-select: none;
    overflow: hidden;
}
header {
    height: 32px;
    background-color: #5081aa;
    color: white;
    -webkit-app-region: drag;
}
header div.title {
    font-weight: 100;
    padding: 12px 10px 0px;
}
header ul {
    list-style-type: none !important;
    padding: 0px;
    margin: 0px;
}
header  ul > li {
    text-align: center;
    float: left;
    width: 33%;
    height: 40px;
    padding: 7px;
    -webkit-app-region: no-drag;
}
button, button:hover, button:focus {
    background-color: #5081aa;
    color: white;
}
input {
    height: 33px;
    font-size: 19px;
}
.no-pad {
    padding: 0;
}
.row-full {
    width: 100%;
}
section {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
}
.centered-layout {
    padding: 10%;
}
.margin-25-vertical {
    margin: 25px 0;
}
p.header {
    font: normal normal 400 31px/37px 'Open Sans';
}
p.description {
    font: normal normal normal 18px/22px 'Open Sans';
}
#registration {
    margin: 40px auto 50px;
}
#registration input {
    font: normal normal normal 19px 'Open Sans';
}
#registration input:focus {
    border: 1px solid #5081aa;
}
#registration span.scheme {
    display: inherit;
    margin: 10px auto;
    font-weight: 600;
}
#registration input#service_name {
    width: calc(100% - 20px);
    margin: 0px 0px 0px 10px;
}
#registration input#public_name {
    width: calc(100% - 10px);
    margin: 0px 20px;
}
#registration span.dot {
    display: inherit;
    width: 5px;
    float: left;
    margin: 5px 0px 0px;
    font-weight: bold;
    font-size: 30px;
}
.hide {
    display: none !important;
}
button.btn_template {
    margin-top: 40px;
}
@-webkit-keyframes pulse {
    0%   {border-width: 1px;}
    100% {border-width: 2px;}
}
.outer-circle {
    width: 150px;
    height: 150px;
    border: 1px solid #5081aa;
    border-radius: 50%;
    /*-webkit-animation-name: pulse;*/
    /*-webkit-animation-duration: 1s;*/
    /*-webkit-animation-iteration-count: infinite;*/
}
.inner-circle {
    margin: 24px;
    width: 100px;
    height: 100px;
    border: 2px solid #5081aa;
    border-radius: 50%;
    /*-webkit-animation-name: pulse;*/
    /*-webkit-animation-duration: 1s;*/
    /*-webkit-animation-direction: reverse;*/
    /*-webkit-animation-iteration-count: infinite;*/
}
.inner-circle > div.holder {
    width: 66px;
    margin: 16px;
}
.inner-circle > div.holder > img {
    content: url("../imgs/upload_static.png");
}
.inner-circle > div.holder:hover > img {
    content: url("../imgs/upload_drag_hover.png");
}
.indicator {
    position: absolute;
    width: 100%;
    margin-top: 10%;
    left: 0px;
    height: 8px;
    background-color: #4166B1;
    border-radius: 10px;
}
.meter {
    position: absolute;
    width: 0px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    margin: 2px -13px;
}

.error {
    position: fixed;
    display: none;
}
.error .arrow {
    margin: 0 0 0 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ff7676;
}
.error .error-msg {
    padding: 8px;
    height: 33px;
    font-size: 14px;
    background-color: #ff7676;
    color: #fff;
}

.template_banner {
    height: 50%;
    background: url("../imgs/phone_purple.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
}
.template_banner p {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: white;
    padding: 25px;
}

#edit_template_title {
    padding: 20px;
}

#template_title_input {
    background: transparent;
    color: white;
    font-weight: bold;
    border-radius: 6px;
}

.template_content {
    height: 40%;
    padding: 5%;
}
.template_content p {
    font-size: 25px;
    text-align: center;
}
.template_footer {
    position: absolute;
    height: 45px;
    width: 100%;
    bottom: 0px;
    background-color: #5081aa;
}
.template_footer div {
    color: white;
    margin: 15px 2%;
    float: right;
}


.template_banner p:hover, .template_footer div:hover, .template_content p {
    cursor: pointer;
}

.template_footer div:nth-child(1) {
    float: left;
}