<!DOCTYPE html>
<html>
<head>
    <title>Safe Network Uploader</title>
    <link rel="stylesheet" href="../bower_components/bower-foundation5/css/normalize.css"/>
    <link rel="stylesheet" href="../bower_components/bower-foundation5/css/foundation.min.css"/>
    <link rel="stylesheet" href="../bower_components/open-sans-fontface/open-sans.css"/>
    <link rel="stylesheet" href="../styles/main.css"/>
</head>
<body>
<!--<header>-->
    <!--<div class="row-full">-->
        <!--<div class="column medium-3 title">-->
            <!--SAFE Network Uploader-->
        <!--</div>-->
        <!--<div class="column medium-2 no-pad">-->
            <!--<ul>-->
                <!--<li onclick="minimise()">-</li>-->
                <!--<li onclick="maximise()">&#x25a1</li>-->
                <!--<li onclick="closeApp()">&nbsp;X&nbsp;</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</header>-->
<section id="step-1">
    <div class="row-full centered-layout">
        <button onclick="test()">TEST</button>
    </div>
</section>
<section id="success" class="hide">
    <div class="row-full centered-layout">
        <div class="row">
            <div class="column medium-10 medium-centered text-center">
                <div class="row">
                    <div class="row text-center">
                        <p class="header">Files Uploaded!</p>
                    </div>
                    <div class="row">
                        <div class="column medium-2 medium-centered text-center">
                            <img src="../imgs/success.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column medium-12 medium-centered text-center">
                            <p class="margin-25-vertical">Drag more files to upload again</p>
                            <button onclick="showSection('step-2')">Start Over</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="failure" class="hide">
    <div class="row-full centered-layout">
        <div class="row">
            <div class="column medium-10 medium-centered text-center">
                <div class="row">
                    <div class="row text-center">
                        <p class="header">Oops, Something went wrong!</p>
                    </div>
                    <div class="row">
                        <div class="column medium-2 medium-centered text-center">
                            <img src="../imgs/error.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column medium-12 medium-centered text-center">
                            <p class="margin-25-vertical">Try to upload again</p>
                            <button onclick="showSection('step-2')">Start Over</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="application/javascript" src="../scripts/main.js"></script>
<div class="error">
    <div class="arrow">
    </div>
    <div class="error-msg">
    </div>
</div>
</body>
</html>