<!DOCTYPE html>
<html>
<head>
    <title>Hello World!</title>
    <link rel="stylesheet" href="../bower_components/bower-foundation5/css/normalize.css"/>
    <link rel="stylesheet" href="../bower_components/bower-foundation5/css/foundation.min.css"/>
    <link rel="stylesheet" href="../bower_components/open-sans-fontface/open-sans.css"/>
    <link rel="stylesheet" href="../styles/main.css"/>
</head>
<body>
<header>
    <div class="row-full">
        <div class="column medium-3 title">
            SAFE-DNS manager
        </div>
        <div class="column medium-2 no-pad">
            <ul>
                <li onclick="minimise()">-</li>
                <li onclick="maximise()">&#x25a1</li>
                <li onclick="closeApp()">&nbsp;X&nbsp;</li>
            </ul>
        </div>
    </div>
</header>
<section id="step-1">
    <div class="row-full centered-layout">
        <div class="row">
            <div class="column medium-8 medium-centered text-center">
                <h4>Enter your Service and Domain Name to get started</h4>
                <div id="registration" class="row">
                    <div class="column medium-2 text-right"><p>SAFE:</p></div>
                    <div class="column medium-4">
                        <input type="text" id="service_name" placeholder="www"/>
                    </div>
                    <div class="column medium-6">
                        <input type="text" id="public_name" placeholder="viv-rajkumar"/>
                    </div>
                </div>
                <div class="row">
                    <div class="column medium-6 medium-centered">
                        <button onclick="toggleViews()">Upload Files</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="step-2" class="hide">
    <div class="row-full centered-layout">
        <div class="row">
            <div class="column medium-8 medium-centered text-center">
                <h4>Drag your files here to Upload</h4>
                <div class="row">
                    <div class="column medium-6 medium-centered">
                        <div id="drag_drop" class="upload-region">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="holder">
                                        IMG
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="progress_bar" class="hide">
                            <img src="../imgs/upload.png"/>
                            <div class="indicator">
                                <div class="meter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="application/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
<script type="application/javascript" src="../scripts/main.js"></script>
<script type="application/javascript" src="../scripts/file_handler.js"></script>
</body>
</html>